/* --------------------------------

added this
.cd-faq-categories a {
  position: relative;
  display: block;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  padding: 0 28px 0 16px;
  background-color: #212121;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  white-space: nowrap;
  border-bottom: 1px solid #555b61;
  text-overflow: ellipsis;
  pointer-events: none !important;
  cursor: default !important;
}

changed some colors and took this out
.no-touch .cd-faq-categories a:hover {
  background: #515151 !important;
}

added this
.no-touch .cd-faq-group > li:hover {
  box-shadow: 0 1px 10px rgba(108, 125, 142, 0.9) !important;
}
.no-touch .cd-faq-group > h2:hover {
  box-shadow: none !important;
}

added this
.cd-faq-group {
	display: block;
  height: 115px; /*same height as header*
  margin-top: -115px; /*same height as header*
  visibility: hidden;
}

deleted the #basics padding and margin. trying the javascript approach.

guess you can't have a negative padding. changing to margin.

the margin-top part didn't help me. but the padding top pushed it down. now i'm trying a psuedo element before with a negative padding

got rid of the code below. trying this now
#basics {
  padding-top: 50px;
  margin-top: -50px;
}

going to try and add psuedo before elements to .cd-faq-group .cd-faq-title  in order to have screen link to the spot, instead of the header getting in the way.
.cd-faq-title::before {
  padding-top: 50px;
}

sweet. thats only off by a few pixels. good enough for me for now. (but it's probably not going to be when I test on laptop)

super close now. how about (23%)

trying (22%)

this is much better. now the is-fixed margin-left seems to work. just need to fiddle with the percentage to get it where I want. trying (20%)

the code below is good. but now on scroll it goes sunk int the left side of the page. trying to add this to is-fixed margin-left: 10% !important;

inspected and looked like the element style was overriding the left. added   left: -100px !important;

that didn't work. fuck it. lets throw in right: 10% !important; instead.

addingt the left to -100 on categories works until you scroll. trying to do this now -----
.cd-faq-categories.is-fixed adding left: -100px;

maybe I'm an idiot and need to be chaning the negative left margin on the categories, instead of the left margin on the is-fixed class? changed left to -100px

the width of the sidebar needs to be slightly bigger than 60, but looks too big at 75. Changing to 70px.
also tried adding this ---- margin-left: 25px instead of any %.

well 80% makes it dissapear fast. Going to try 7% and see if that makes the 5% one more left or more right. Might just be very subtle percentage differences.

putting the left margin at 5% pushes it all the way to the right of the screen. This version changes that to 80%

ajusted the width of faq-categories again but to 60px instead of 75px

added a left marghin to the fixed sidebar because when it's larger, it folds on top of the text
.cd-faq-categories.is-fixed {
  position: fixed;
  margin-top: 8%
  margin-left: 5%
}


changed value below to reflect a 75px increase instead of a 100px increase

added this to make sidebar wider to include text
@media only screen and (min-width: 1024px) {
  .cd-faq-categories {
    position: absolute;
    top: 0;
    left: -100px;
    width: 300px;
    z-index: 2;
  }

>>>>The code below works to push it down. Adding percent instead of px

added ---- for categories pushed down below header
.cd-faq-categories.is-fixed {
  position: fixed;
  margin-top: 100px
}

THIS DID IT! THIS ONE IS IT! IF YOU HAVE PROBLEMS ON SMALLER SCREEN, TRY TO ADD THIS CODE TO THE @MEDIA SECTION THAT APPLIES
added
.content-visible .cd-faq-content {
  display: block !important;
}

added
.content-visible p {
  display: block !important;
}

added
.content-visible .cd-faq-content::before {
  display: none !important;
}

.content-visible .cd-faq-content::after {
  display: block !important;
}

removed this stuff -->
THIS DIDNT REALLY DO SHIT. WHEN YOU COME BACK IN THE MORNING, YOU NEED TO MESS AROUND WITH ON CLICK - CONTENT VISIBLE (MAYBE TRY TO APPLY TO P OR DIV INSTEAD OF FAQ-CONTENT)
added
.content-visible .cd-faq-content::before {
  display: none;
}
.content-visible .cd-faq-content::after {
  display: block;
}

THIS MAKES THE STUFF DISPLAY BUT DOESN'T MOVE ON CLICK
changed @media only screen and (min-width: 768px) {
  .cd-faq-content {
    display: block;
    padding: 0 24px 30px;
  }      to display block


THIS VERSION SO FAR INCLUDES:
     A NOT MESSED UP HEADER
     THE GREEN SIDE BAR ON THE LEFT
     THE GREEN "TRIGGER ARROW"

added
.content-visible::after, .content-visible::before {
  content:'';
}

added
.cd-faq-categories a::before {
  content:'';
}

removed
.a::after, .a::before {
  content:'';
}


added
.a::after, .a::before {
  content:'';
}

added
.cd-faq-categories::after, .cd-faq-categories::before {
  content:'';
}

added
.cd-faq-trigger::after, .cd-faq-trigger::before {
  content:'';
}


added back to try and get arrow/green bar on side bar  *::after, *::before {
  content: '';
}

added to the line up top : box-sizing: border-box; in addition to content''

removed *, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

removed all header content
header {
  position: relative;
  height: 180px;
  line-height: 180px;
  text-align: center;
  background-color: #a9c056;
}
header h1 {
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  font-size: 1.25rem;
}
@media only screen and (min-width: 1024px) {
  header {
    height: 240px;
    line-height: 240px;
  }
  header h1 {
    font-size: 36px;
    font-size: 2.25rem;
    font-weight: 300;
  }
}


Primary style

-------------------------------- */


*::after, *::before {
  box-sizing: border-box;
}

.cd-faq-trigger::after, .cd-faq-trigger::before {
  content:'';
}

.cd-faq-categories::after, .cd-faq-categories::before {
  content:'';
}

.cd-faq-categories a::before {
  content:'';
}

.content-visible::after, .content-visible::before {
  content:'';
}

p.italic {
  font-style:italic;
}

p.bold {
  font-weight:bold;
}

div.buttoncontainer {
  padding-bottom: 300px;
}

body {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  color: #4e5359;
  background-color: #f3f3f5;
}
body::after {
  /* overlay layer visible on small devices when the right panel slides in */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(78, 83, 89, 0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
body.cd-overlay::after {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
@media only screen and (min-width: 768px) {
  body::after {
    display: none;
  }
}

a {
  color: #FFFFFF;
  text-decoration: none;
}
/* --------------------------------

Main components

-------------------------------- */

.cd-faq {
  width: 90%;
  max-width: 1024px;
  margin: 2em auto;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.cd-faq:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (min-width: 768px) {
  .cd-faq {
    position: relative;
    margin: 4em auto;
    box-shadow: none;
  }
}

.cd-faq-categories a {
  position: relative;
  display: block;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  padding: 0 28px 0 16px;
  background-color: #212121;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  white-space: nowrap;
  border-bottom: 1px solid #555b61;
  text-overflow: ellipsis;
  pointer-events: none !important;
  cursor: default !important;
}
.cd-faq-categories a::before, .cd-faq-categories a::after {
  /* plus icon on the right */
  position: absolute;
  top: 50%;
  right: 16px;
  display: inline-block;
  height: 1px;
  width: 10px;
  background-color: #7f868e;
}
.cd-faq-categories a::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.cd-faq-categories li:last-child a {
  border-bottom: none;
}
@media only screen and (min-width: 768px) {
  .cd-faq-categories {
    width: 20%;
    float: left;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  }
  .cd-faq-categories a {
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 600;
    padding-left: 24px;
    padding: 0 24px;
    -webkit-transition: background 0.2s, padding 0.2s;
    -moz-transition: background 0.2s, padding 0.2s;
    transition: background 0.2s, padding 0.2s;
  }
  .cd-faq-categories a::before, .cd-faq-categories a::after {
    display: none;
  }
  .no-js .cd-faq-categories {
    width: 100%;
    margin-bottom: 2em;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-faq-categories {
    position: absolute;
    top: 0;
    left: -100px !important;
    width: 270px;
    z-index: 2;
  }
  .cd-faq-categories a::before {
    /* decorative rectangle on the left visible for the selected item */
    display: block;
    top: 0;
    right: auto;
    left: 0;
    height: 100%;
    width: 6px;
    background-color: #FFC107;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .cd-faq-categories .selected {
    background: #353535 !important;
  }
  .cd-faq-categories .selected::before {
    opacity: 1;
  }
  .cd-faq-categories.is-fixed {
    /* top and left value assigned in jQuery */
    position: fixed;
    margin-top: 8%;
    /*margin-left: 23% !important;*/
    left: 5% !important;
  }
  .no-js .cd-faq-categories {
    position: relative;
  }
}

.cd-faq-items {
  position: fixed;
  height: 100%;
  width: 90%;
  top: 0;
  right: 0;
  background: #ffffff;
  padding: 0 5% 1em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) translateX(100%);
  -moz-transform: translateZ(0) translateX(100%);
  -ms-transform: translateZ(0) translateX(100%);
  -o-transform: translateZ(0) translateX(100%);
  transform: translateZ(0) translateX(100%);
  -webkit-transition: -webkit-transform .3s;
  -moz-transition: -moz-transform .3s;
  transition: transform .3s;
}
.cd-faq-items.slide-in {
  -webkit-transform: translateZ(0) translateX(0%);
  -moz-transform: translateZ(0) translateX(0%);
  -ms-transform: translateZ(0) translateX(0%);
  -o-transform: translateZ(0) translateX(0%);
  transform: translateZ(0) translateX(0%);
}
.no-js .cd-faq-items {
  position: static;
  height: auto;
  width: 100%;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
@media only screen and (min-width: 768px) {
  .cd-faq-items {
    position: static;
    height: auto;
    width: 78%;
    float: right;
    overflow: visible;
    -webkit-transform: translateZ(0) translateX(0);
    -moz-transform: translateZ(0) translateX(0);
    -ms-transform: translateZ(0) translateX(0);
    -o-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    padding: 0;
    background: transparent;
  }
}
a:hover, p a:hover {
    color: #FFFFFF !important;
    text-decoration: none;
}
@media only screen and (min-width: 1024px) {
  .cd-faq-items {
    float: none;
    width: 100%;
    padding-left: 220px;
  }
  .no-js .cd-faq-items {
    padding-left: 0;
  }
}

.cd-close-panel {
  position: fixed;
  top: 5px;
  right: -100%;
  display: block;
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: right 0.4s;
  -moz-transition: right 0.4s;
  transition: right 0.4s;
}
.cd-close-panel::before, .cd-close-panel::after {
  /* close icon in CSS */
  position: absolute;
  top: 16px;
  left: 12px;
  display: inline-block;
  height: 3px;
  width: 18px;
  background: #6c7d8e;
}
.cd-close-panel::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-close-panel::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cd-close-panel.move-left {
  right: 2%;
}
@media only screen and (min-width: 768px) {
  .cd-close-panel {
    display: none;
  }
}

.cd-faq-group {
  /* hide group not selected */
  display: none;
}
.cd-faq-group.selected {
  display: block;
}
.cd-faq-group .cd-faq-title {
  background: transparent;
  box-shadow: none;
  margin: 1em 0;
}
.no-touch .cd-faq-group .cd-faq-title:hover {
  box-shadow: none !important;
}
.cd-faq-group .cd-faq-title h2 {
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  color: #757575;
}
.no-js .cd-faq-group {
  display: block;
}
@media only screen and (min-width: 768px) {
  .cd-faq-group {
    /* all groups visible */
    display: block;
  }
  .cd-faq-group > li {
    background: #607D8B;
    margin-bottom: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    -webkit-transition: box-shadow 0.2s !important;
    -moz-transition: box-shadow 0.2s !important;
    transition: box-shadow 0.2s;
  }
  .no-touch .cd-faq-group > li:hover {
    box-shadow: 0 1px 10px 1px rgba(108, 125, 142, 0.9) !important;
  }
  .cd-faq-group .cd-faq-title {
    margin: 2em 0 1em;
  }
  .cd-faq-group:first-child .cd-faq-title {
    margin-top: 0;
  }
}

.cd-faq-trigger {
  position: relative;
  display: block;
  margin: 1.6em 0 .4em;
  line-height: 1.2;
}
@media only screen and (min-width: 768px) {
  .cd-faq-trigger {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    padding: 24px 72px 24px 24px;
  }
  .cd-faq-trigger::before, .cd-faq-trigger::after {
    /* arrow icon on the right */
    position: absolute;
    right: 24px;
    top: 50%;
    height: 2px;
    width: 13px;
    background: #FFC107;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }
  .cd-faq-trigger::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 32px;
  }
  .cd-faq-trigger::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .content-visible .cd-faq-trigger::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .content-visible .cd-faq-trigger::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.cd-faq-content p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4;
  color: #e5e5e5;
}

.content-visible .cd-faq-content::before {
  display: none !important;
}

.content-visible .cd-faq-content::after {
  display: block !important;
}

.content-visible p {
  display: block !important;
}

@media only screen and (min-width: 768px) {
  .cd-faq-content {
    display: none;
    padding: 0 24px 30px;
  }
  .content-visible .cd-faq-content {
    display: block !important;
  }
  .cd-faq-content p {
    line-height: 1.6;
  }
  .no-js .cd-faq-content {
    display: block;
  }
}
